/*===== Global =====*/
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5410539215686274) 50%, rgba(0,0,0,0.10127801120448177) 100%);
}


