header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 95%;
    display: flex ;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: gray ;

    font-family: 'Poppins', sans-serif;
}
h2{
    text-align: center;
}